<div class="row">
  <div class=" col-xs-12 col-8 offset-2 offset-xs-0">
    <div id="chessboard-wrap">
      <div id="chessboard"></div>
    </div>
  </div>
</div>
<div class="row">
  <%= link_to 'View on lichess', "https://lichess.org/analysis/fromPosition/#{@puzzle.fen}" %>

<script type="module">
  import { Puzzle } from 'puzzle';
  
  new Puzzle(
    {
      "fen": "<%= @puzzle.fen %>",
      "move": "<%= @puzzle.move %>",
      "color": "<%= @puzzle.color %>",
      "id": "<%= @puzzle.id %>"
    },
    document.getElementById('chessboard')
  );
</script>
