<div class="row">
  <div class="col-8 offset-2">
    <div id="chessboard"></div>
  </div>
  <div class="col-2">
    <div id="solution"></div>
    <div id="next">
      <%= link_to 'Next', root_path %>
    </div>
    <%= check_box_tag 'auto' %>Auto Next
  </div>
</div>

<script type="module">
  import { Puzzle } from 'puzzle';
  
  new Puzzle(
    {
      "fen": "<%= @puzzle.fen %>",
      "move": "<%= @puzzle.move %>",
      "color": "<%= @puzzle.color %>"
    },
    document.getElementById('chessboard'),
    document.getElementById('solution')
  );
</script>
