<!DOCTYPE html>
<html>
  <head>
    <title>ChessHabits</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <header>
      <div class="row">
      <div class="col-2">
        <%= link_to 'Training', training_path %>
      </div>
      <div class="col-2">
        <%= link_to 'Prepare', preparation_path %>
      </div>
      <div class="col-2 offset-6">
      <%= current_user.name %>
      <% unless current_user.new_record? %>
        <%= button_to 'Sign out', sign_out_path %>
      <% end %>
      </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
